﻿<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <title>Explore Foursquare</title>
    <link href="content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="content/css/amelia-bootstrap-theme.min.css" rel="stylesheet" />
    <link href="Content/css/toaster.css" rel="stylesheet" />
    <link href="content/css/loading-bar.min.css" rel="stylesheet" />
    <link href="content/css/site.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="favicon.ico" rel="shortcut icon" />
</head>
<body>
    <div id="page">
        <header class="container">
            <div class="navbar navbar-default" id="menu">
                <div class="navbar-header">
                    <button class="btn btn-success navbar-toggle"></button>
                    <div id="logo">
                        <h4>Product Management</h4>
                    </div>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li data-ng-class="{'active':isActive('/home')}"><a href="#/home">Products</a></li>
                        <li data-ng-class="{'active':isActive('/places')}"><a href="#/places">My Places</a></li>
                        <li data-ng-class="{'active':isActive('/about')}"><a href="#/about">About</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <section class="container" id="body">
            <div data-ng-view=""></div>
        </section>

        <hr />

        <footer class="container"></footer>
    </div>

    <script src="~/app/app.js"></script>
    <script src="~/app/controllers/productsController.js"></script>
    <script src="app/controllers/navigationController.js"></script>

</body>
</html>