﻿<!DOCTYPE html>
<html data-ng-app="PhaseII">
<head>
    <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible" />
    <title>PhaseII</title>
    <link href="content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="content/css/amelia-bootstrap-theme.min.css" rel="stylesheet" />
    <link href="Content/css/toaster.css" rel="stylesheet" />
    <link href="content/css/loading-bar.min.css" rel="stylesheet" />
    <link href="content/css/site.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<body>
    <div id="page">
        <header class="container">
            <div class="navbar navbar-default" id="menu">
                <div class="navbar-header">
                    <button class="btn btn-success navbar-toggle"></button>
                    <div id="logo">
                        <h4>Explore Products</h4>
                    </div>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#/Products">Products</a></li>
                        <li><a href="#/About">About</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <section class="container" id="body"><div data-ng-view=""></div>
        </section>

        <hr />
        

    </div>
</body>

</html>
<script type="text/javascript" src="~/app/app.js"></script>
<script type="text/javascript" src="~/app/controllers/productsController.js"></script>
